##
## Create new option in menuconfig


config M_GPIO
    bool "M GPIO DRIVER"
    default n       # Set disable by default
    depends on GPIO # Dependent on GPIO driver
    help
        Enable m_gpio driver


