##
## Create new option in menuconfig


config M_GPIO
    bool "M GPIO DRIVER"
    default y       # Set enable by default
    depends on GPIO # Dependent on GPIO driver
    help
        Enable m_gpio driver


