## Create new option in menuconfig
config MZ_LED
    bool "MZ-module, led"
    default n       # Set disable by default
    depends on GPIO # Dependent on GPIO driver
    help
        Enable MZ module, led driver


