/ {
    aliases {
        myled0 = &m_led0;
        mysw0 = &m_button0;
    };

    m_leds {        
        m_led0: led0 {
            compatible = "m,gpio";
            pin = <&user_led0>;
        };
    };    

    m_buttons {        
        m_button0: button0 {
            compatible = "m,gpio";
            pin = <&user_button0>;
        };
    };
   
    overlay_leds {        
        compatible = "gpio-leds";

        user_led0: led_0 {
            label = "Led0 b22";
            gpios = <&gpiob 22 GPIO_ACTIVE_LOW>;
        };
    };

    overlay_gpio_keys {
        compatible = "gpio-keys";   
    /*    deboune-interval-ms = <50>;   */
    /*    polling-mode;                 */

        user_button0: button_0 {
            label = "Button0 c6";
            gpios = <&gpioc 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

};