
# This file contains Kconfig options and defaults for configuring USB devices
# using the new experimental USB device support. 

menu "USBD options"
	depends on USB_DEVICE_STACK_NEXT

config M_USBD_MANUFACTURER
	string "USB device manufacturer string"
	default "Zephyr Project"
	help
	  USB device manufacturer string.

config M_USBD_PRODUCT
	string "USB device product string"
	default "USBD sample"
	help
	  USB device product stringa.

config M_USBD_VID
	hex "USB device Vendor ID"
	default 0x2fe3
	help
	  USB device Vendor ID. The default id (0x2fe3) is associated to
	  Zephyr Project, you must use your own VID for samples and applications
	  outside of Zephyr Project.

config M_USBD_PID
	hex "USB device Product ID"
	default 0x0001
	help
	  USB device Product ID. You must use your own PID for samples
	  and applications outside of Zephyr Project.

config M_USBD_SELF_POWERED
	bool "USB device Self-powered attribute"
	default y
	help
	  Set the Self-powered attribute in the configuration.

config M_USBD_REMOTE_WAKEUP
	bool "USB device Remote Wakeup attribute"
	help
	  Set the Remote Wakeup attribute in the configuration.

config M_USBD_MAX_POWER
	int "USB device bMaxPower value"
	default 125
	range 0 250
	help
	  bMaxPower value in the configuration in 2 mA units.

config M_USBD_20_EXTENSION_DESC
	bool "Use default USB 2.0 Extension Descriptor"
	depends on USBD_BOS_SUPPORT
	help
	  Set bcdUSB value to 0201 and use default USB 2.0 Extension Descriptor.

endmenu